.App {
    text-align: center;
}

.App-logo {
    animation: spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

ul li {
    list-style-type: none;
}

header {
    background: #FF6067;
    color: white;
    padding: 0.625em;
  }
header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.site-tagline {
    margin-right: 20px;
    font-size: 1.125em;
    font-style: italic;
    text-align: right;
}
.site-title {
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 2.625em;
}
.avatar {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

button {
    background: #F7EE1A;
    border: none;
    outline: none;
    padding: 20px;
}
button:hover {
    cursor: pointer;
    background: #eeeb94;
}

.repos-list {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}
.repos-list li {
    display: block;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    list-style-type: none;
    border:1px solid #c5c3c3;
    padding: 10px;
    width: 400px;
    display: inline-flex;
    margin: 10px 0 10px;
    flex-direction: column;
}

.sign-in-button {
    font-size: 1em;
}

.load-icon {
    animation: spin infinite 1s linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
